{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="site_content">
      <div id="content">
        <!-- insert the page content here -->
        <form id="create" method="post" action="{% url 'recommendation create' %}">
            <div class="container">
                <h1 class="form-create-headline">Recommendation</h1>
                {{ form }}
                <input class="btn" type="submit" value="Recommendation">
                {% csrf_token %}
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}