{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="site_content">
    <header>
        <h1>Update Recommendation Info:</h1>
    </header>
    <body>
        <section>
        <form id="create" method="post" action="{% url 'recommendation edit' pk=recommendation.pk %}">
            <div>
                <h5>Description:</h5>
                {{ form.description }}
                {{ form.errors }}
                <input type="hidden" name="next" value ="{{ next }}">
                <button type="submit">Update</button>
                {% csrf_token %}
            </div>
        </form>
    </section>
    </body>
</div>
{% endblock %}