{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="site_content">
    <header>
        <h2><strong>{{ service.name }}</strong></h2>
        {% if avg_review_score %}
            <h5>Average Rating: <strong>{{ avg_review_score|floatformat:1 }}</strong></h5>
        {% else %}
            <h5>Average Rating: <strong>-</strong></h5>
        {% endif %}
    </header>
    <section>
        <div class="info-section">
            <div>
                <img class="car-img"
                     src="{{ service.image_url }}"
                     width="400"
                     height="400"
                     alt='{{ service.type }}'/>
                <p><strong>User: </strong>{{ service.user }}</p>
                <p><strong>Description: </strong>{{ service.description }}</p>
                <p><strong>Type: </strong>{{ service.type }}</p>
                <p><strong>Price: </strong>{{ service.price|floatformat:2 }}</p>
            </div>

            <div>
                {% if request.user.is_authenticated %}
                    {% if service.user == request.user %}
                        <button><a href="{% url 'service edit' pk=service.pk %}">Edit</a></button>
                        <button><a href="{% url 'service delete' pk=service.pk %}">Delete</a></button>
                    {% else %}
                        <button><a href="{% url 'review create' pk=service.pk %}">Write a Review</a></button>
                    {% endif %}
                {% endif %}
                <h2>Reviews:</h2>
                {% if reviews %}
                    {% for r in reviews %}
                        <div>
                            <h4>Reviewer:</h4>
                            {{ r.reviewer }}
                            <h4>Rating:</h4>
                            {{ r.rating }}
                            <h4>Description: </h4>
                            {{ r.comment|linebreaks }}
                            {% if request.user.is_authenticated and r.reviewer == request.user %}
                                <button><a href="{% url 'review edit' pk=r.pk %}">Edit</a></button>
                                <button><a href="{% url 'review delete' pk=r.pk %}">Delete</a></button>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No reviews written yet.</p>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}