{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="site_content">
    <header>
        <h1>Profile Info:</h1>
    </header>
    <body>
        <div class="info-section">
            <div class="car-header">
                {% if not request.user.profile_picture %}
                    <img src="{% static 'generic-profile-picture.jpg' %}" alt='profile-image'/>
                {% else %}
                    <img src="{{ request.user.profile_picture }}" alt='profile-image'/>
                {% endif %}
                {% if request.user.first_name and request.user.last_name %}
                    <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
                {% elif request.user.first_name %}
                    <h2>{{ request.user.first_name }}</h2>
                {% elif profile.last_name %}
                    <h2>{{ request.user.last_name }}</h2>
                {% endif %}
                <p>Username: {{ request.user.username }}</p>
                <p>Email: {{ request.user.email }}</p>
                <button><a href="{% url 'edit user' pk=request.user.pk %}" class="edit-button">Edit</a></button>
                <button><a href="{% url 'delete user' pk=request.user.pk %}" class="delete-button">Delete</a></button>
            </div>
        </div>
    </body>
</div>
{% endblock %}