{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="site_content">
    <header>
        <h1><strong>Register now!</strong></h1>
    </header>
    <!-- register form -->
    <section>
        <form method="post" action="{% url 'register user' %}">
            <div class="container">
                <h3>Fill in your details below:</h3>
                {% csrf_token %}
                <h5>Username:</h5>
                {{ form.username|linebreaks }}
                <h5>Email:</h5>
                {{ form.email|linebreaks }}
                <h5>Password:</h5>
                {{ form.password1|linebreaks }}
                <h5>Confirm Password:</h5>
                {{ form.password2|linebreaks }}
                {{ form.errors }}
                <input type="hidden" name="next" value ="{{ next }}">
                <button type="submit">Register</button>
            </div>
        </form>
    </section>
</div>
{% endblock %}