{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="site_content">
    <header>
        <h1>Update Profile Info:</h1>
    </header>
    <!-- register form -->
    <body>
        <section>
        <form method="post" action="{% url 'edit user' pk=request.user.pk %}">
            <div>
                <h1>Edit Profile</h1>
                {{ form.as_p }}
                <button type="submit">Update</button>
                {% csrf_token %}
            </div>
        </form>
    </section>
    </body>
</div>
{% endblock %}