{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="site_content">
    <header>
        <h1><strong>Announcement:</strong></h1>
    </header>
    <section>
        <form method="post" action="{% url 'announcement create' %}">
            <div>
                <h3>Fill in the details below:</h3>
                <h5>Title:</h5>
                {{ form.title }}
                <h5>Info (max 200 words):</h5>
                {{ form.info }}
                <p></p>
                <input type="hidden" name="next" value ="{{ next }}">
                <button type="submit">Submit</button>
                {% csrf_token %}
            </div>
        </form>
    </section>
</div>
{% endblock %}