{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="site_content">
    <header>
        <h1><strong>Review:</strong></h1>
    </header>
    <!-- register form -->
    <section>
        <form method="post" action="{% url 'review create' pk=review.pk %}">
            <div>
                <h3>Fill in the details below:</h3>
                <h5>Rating:</h5>
                {{ form.rating }}
                <h5>Description:</h5>
                {{ form.description }}
                {{ form.errors }}
                <p></p>
                <input type="hidden" name="next" value ="{{ next }}">
                <button type="submit">Submit</button>
                {% csrf_token %}
            </div>
        </form>
    </section>
</div>
{% endblock %}