{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Preview Services</h3>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2010</h5>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <p></p>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2010</h5>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <h3>Useful Links</h3>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Welcome to PK Music Services</h1>
        <p>We are here to provide and host a number of services for and from authenticated users in the world of music. You may find everything from session musicians to audio engineers.</p>
          <p>Feel free to browse our <a href="{% url 'catalogue' %}">services</a> here. Check out our <a href="{% url 'about' %}">about</a> section to read or seek more information, concerning our goals and objectives.</p>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}